/*body{
  background-color:#f5f5f5;
}
*/
#side-bar{
  overflow:scroll;
  height:95%;
  padding: 10px 12px;
  color: white;
}

#main-content{
  overflow:scroll;
  height:100%; 
}

.box-points{
  width:50px;
}

.box-name{
  width:150px;
}

#map-canvas {
  height: 90%;
}

#icon-right{
  float:right;
}

#top-nav{
  background:black;
  color: white;
}

#live{
  color: green;
}

#final{
  color: red;
}